<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="aplicacion_cliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <aplicacion_cliente.Properties.Settings>
            <setting name="aplicacion_cliente_AlumnosWS_ClassroomWS" serializeAs="String">
                <value>http://54.203.246.162/neo/classroom/sw/pruebasclase/alumnos.php</value>
            </setting>
        </aplicacion_cliente.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClassroomWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.203.246.162/neo/classroom/sw/pruebasclase/alumnos.php"
                binding="basicHttpBinding" bindingConfiguration="ClassroomWSBinding"
                contract="Alumnos_WS.ClassroomWSPortType" name="ClassroomWSPort" />
        </client>
    </system.serviceModel>
</configuration>