<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClassroomWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.203.246.162/neo/classroom/sw/pruebasclase/alumnos.php"
                binding="basicHttpBinding" bindingConfiguration="ClassroomWSBinding"
                contract="servicio_alumno.ClassroomWSPortType" name="ClassroomWSPort" />
        </client>
    </system.serviceModel>
</configuration>